[2022-06-07 12:32] micheleriva opened #1 "Add exact match"
**Is your feature request related to a problem? Please describe.**
Right now, Lyra only implements prefix search.

**Describe the solution you'd like**
Lyra needs to implement an exact search. I.E.:

[code]

Lyra should match:

[code]

but not:

[code]

[2022-06-07 12:35] micheleriva opened #2 "Typo tolerance"
**Is your feature request related to a problem?**
As for now, Lyra does not implement typo tolerance during the search.

That means that if I misspell something like `seaorse` instead of `seahorse`, I don't get the expected results.

**Describe the solution you'd like**
Lyra should implement typo-tolerance using the Levenshtein algorithm or similar while traversing the trie.
Users should be able t

[2022-07-08 11:13] simonireilly opened #6 "bug: Default search language differs from default insert language"
It was fun to read this source code, so thank you :+1:

**Describe the bug**

Possibly it is a bug, but it may be the intended behavior, in which case, please close.

Looking at the insert API of the Lyra class:

https://github.com/nearform/lyra/blob/0fa4078a79dc7036042d2a6f0e6611555cfd924c/packages/lyra/src/lyra.ts#L233

We see inserts into the Trie are using tokens of the specified language.

Wh

[2022-07-13 07:31] #1 closed

[2022-07-14 09:18] #2 closed

[2022-07-14 09:28] micheleriva opened #12 "Count term occurrencies in document"
**Is your feature request related to a problem? Please describe.**
Right now, we're not considering how many times a term appears in a document.

For instance, given the following strings:

* `"It's alive! It's alive!"`
* `"I saw them alive"`

When searching for `"alive"`, the first string should have priority as the term `"alive"` appears twice.

[2022-07-14 17:55] mateonunez commented on #12
@micheleriva I have prepared a [branch](https://github.com/nearform/lyra/compare/main...mateonunez:lyra:feat/occurrences-sort) with working code for it.

The `sort` options accepted are: `none` (as usual) and `relevance` (by occurrences). The "relevance" could be accepted as default if you want to implement a search by occurrences natively.

There are 2 methods: `getOccurrences(document, index, te

[2022-07-15 07:15] micheleriva commented on #12
@mateonunez thanks! Any idea on how that affects performances?

[2022-07-15 07:32] micheleriva commented on #12
Also, in which scenario would I want to sort the results by "random" order?

[2022-07-15 08:38] mateonunez commented on #12
Initially, this implementation affects a lot of the performance of the search action.

Current timing:
[code]

With occurrences implementation:
[code]

That implementation cost **~27.8% more** than the search time.

With the sort implementation:

[code]

The first `occurrencesTime` cost about `40-50μs`. Then the cost it's about `0-3μs`:

[code]

Regarding the `random` (or first in first out) order

[2022-07-15 11:42] mateonunez commented on #12
I've tried it with **1M of documents**. The result is amazing! @micheleriva

**Without implementation:**

[code]

**With implementation:**

[code]

[2022-07-15 12:16] micheleriva commented on #12
This is pretty rad. Would you mind opening a PR?

[2022-07-15 12:28] micheleriva opened #13 "Sequential match priority"
**Is your feature request related to a problem? Please describe.**
As for now, Lyra performs searches on individual tokens.

So for example, if I have the following documents:

- `"Hello everyone here. My name is Michele"`
- `"Hello Michele"`

When searching for the term `"Hello Michele"`, there's still a chance to get the first document. We should take into account that we want to find the docume

[2022-07-15 13:07] mateonunez commented on #12
I could work on it, but there is just one question to understand: what should Lyra do in case the `limit` parameter is set? Should it compute all occurrences (and sort them) and then truncate the output? This operation could require more stress.

Currently, Lyra limits the results quitting from the cycle that retrieves the documents, then the occurrences are computed.
This means that: if I add 10

[2022-07-15 16:27] micheleriva commented on #13
For the future me: I would consider the possibility of using an n-gram algorithm for that. Index size will increase, but it might be worth it.

[2022-07-15 16:28] micheleriva commented on #13
I know how this is gonna end

![7zyychkxcg591](https://user-images.githubusercontent.com/14977595/179266832-adf792dd-763e-47fd-adfe-b67dc10df572.jpeg)

[2022-07-15 17:48] mateonunez commented on #12
Totally agree. I had thought that the best solution was to work directly on the composing Tries action.

I would like to play with your pseudo-logic and if the result is interesting I might do a PR, removing the "sort" in favour of #13.

[2022-07-15 18:50] DanieleFedeli commented on #12
Cannot be implemented via sort of a score?

[tf-idf](https://en.wikipedia.org/wiki/Tf%E2%80%93idf) can be a good candidate.

[2022-07-16 07:30] micheleriva commented on #12
@DanieleFedeli yes, `tf-idf` could be the way to go. When inserting a new document, we do that by creating a queue and indexing one doc at a time. That means that on very large documents, we could spend some more time analyzing the tokens using `tf-idf` or a similar technique (Jaccard index, etc.)

[2022-07-16 07:33] micheleriva opened #14 "Support for nested properties"
**Is your feature request related to a problem? Please describe.**
As for now, Lyra does not support nested properties. Thus, the following code will break:

[code]

We should grant support for nested properties to Lyra

[2022-07-16 07:42] micheleriva opened #15 "Extend query parameters by adding query clauses"
**Is your feature request related to a problem? Please describe.**
As for now, Lyra is capable of indexing documents with searchable and non-searchable fields.

For instance, given the following schema, we index the following fields:

[code]

Even though numbers and booleans are non-searchable fields, we should start using them for performing queries using the `where` keyword. An example could be:

[2022-07-16 07:48] micheleriva opened #16 "Bring coverage >90% for v0.1.0"
**Is your feature request related to a problem? Please describe.**
Before launching Lyra as a stable project, we should improve our tests and bring the test coverage up to 90% minimum

[2022-07-16 07:51] micheleriva commented on #12
FYI I'm working on a prototype with `tf-idf`, let's see how it goes

[2022-07-16 08:27] DanieleFedeli commented on #14
Can I pick this up?
I promise nothing since I never looked the source code but I would like to try it

[2022-07-16 09:12] micheleriva commented on #14
Go for it 🙂

[2022-07-16 11:16] DanieleFedeli commented on #14
Schema type is not propagated throughout Lyra instance.  Is this a design choice?

[2022-07-16 11:19] micheleriva commented on #14
What do you mean by that?

[2022-07-16 11:34] DanieleFedeli commented on #14
I mean when I create an instance with a specific schema like that:

[code]

The insert method does not inherit the type from the schema passed
So If I do:
[code]

I will get INVALID_DOC_SCHEMA,
This error is only raised at runtime, but at compile time it is not detected.

[2022-07-16 11:35] micheleriva commented on #14
@DanieleFedeli got it, this is a missing feature that I'd definitely love to have!

[2022-07-16 11:36] DanieleFedeli commented on #14
I can work on that also, but now I am focusing on this one 😆

[2022-07-16 13:13] mateonunez opened #18 "Error stemming in Dutch and Spanish"
**Describe the bug**
When using the `PorterStemmerNl` and `PorterStemmerEs`, _natural_ module can't the following methods: `postlude()` and `isVowel()`.

**PorterStemmerNl**:
[code]

**PorterStemmerEs**:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new test
2. Add the following code:

**PorterStemmerNl**:

[code]

**PorterStemmerEs**:

[code]

**Desktop (please complete t

[2022-07-16 16:33] #14 closed

[2022-07-16 16:33] micheleriva commented on #18
Thank you so much for the report, I'll look into that!

[2022-07-18 07:57] DanieleFedeli commented on #15
How can this be done?
Do we first retrieve the documents and then apply the conditions or we are also indexing non-searchable fields?

[2022-07-18 08:06] micheleriva commented on #15
@DanieleFedeli I think we could store non-searchable parameters in reverse indexes and then access these properties in constant time during the search. I am currently working on the stemming issue, but I can try to illustrate my proposal with a simple, non-working, demonstrative PR

[2022-07-18 08:07] micheleriva commented on #15
TL;DR

![6i3b18 (1)](https://user-images.githubusercontent.com/14977595/179469495-61264aad-be3d-47be-baed-d7889a743f89.jpeg)

[2022-07-18 08:29] #16 closed

[2022-07-18 08:36] micheleriva opened #24 "Create better docs"
With Lyra's upcoming first stable release, I would love to have a better documentation website, maybe using Docusaurus or something similar. The current design is not very optimal, and documentation is poorly organized

[2022-07-18 10:40] mateonunez opened #27 "Error with fresh Lyra installation"
**Describe the bug**
I've created a new project where I wanted to implement Lyra, so I've added it as a dependency. When I've try to import `Lyra`, I get the following output error:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new empty JS project: `npm init --yes`
2. Install Lyra as a dependency: `npm install @nearform/lyra`
3. Create a simple file that imports `Lyra`.
4

[2022-07-18 13:53] micheleriva commented on #27
Should be fixed in v0.0.1-beta-12 🙂

[2022-07-18 14:24] mateonunez commented on #27
Sorry for commenting a closed issue @micheleriva, but I wanna let you know that the error persists even with the `v0.0.1-beta-12` version.

[2022-07-18 15:30] thomscoder commented on #24
Sounds good!
I'll follow along.

[2022-07-18 15:32] thomscoder commented on #27
i confirm. index.js keeps not getting created.
Tested on both Monterey 12.4 and Windows 10 Pro

[2022-07-18 18:03] micheleriva opened #28 "Add possibility to disable stemming during indexing"
There might be cases where we want to store the exact document without stemming. I propose an API similar to the following:

[code]

We could also add the `stemming: <bool>` property while initializing a new Lyra instance:

[code]

[2022-07-18 20:35] mateonunez opened #29 "Search method returns undefined elements"
**Describe the bug**
Searching by a term that doesn't exist, Lyra returns `X` undefined elements.

The error also occurs using `limit`, `property` or `exact` params.

**To Reproduce**
Steps to reproduce the behavior:
1. `lyra.search({ term: "whatever" })`

**Expected behavior**
Lyra shouldn't return `X` undefined elements. Instead of that should return an empty array.

**Screenshots**

![image](ht

[2022-07-19 07:23] micheleriva commented on #28
Local stemming won't be supported in the first stable release

[2022-07-19 07:23] #28 closed

[2022-07-19 07:26] micheleriva commented on #29
When retrieving data, we create an array of `x` length, where `x` is the `limit` search param. That way we avoid unnecessary dynamic allocations when adding data to the `results` array, but of course is causing this problem

[code]

Thanks for opening the issue!

[2022-07-19 07:40] mateonunez commented on #29
And what would be the correct way to fix it? Create an Array that also allows dynamic allocations? Or filter the Array before the return?

[2022-07-19 07:41] #27 closed

[2022-07-19 07:42] micheleriva commented on #29
I'd say... let's benchmark these operations with different array sizes. Let's see when is convenient filtering vs dynamic arrays given the docs we have

[2022-07-19 07:46] micheleriva commented on #27
Fixed and tested on `0.0.1-beta-13`

Thanks!

[2022-07-19 08:26] DanieleFedeli commented on #15
For now I am using these data structures for indexing non-searchable fields:
- Boolean: HashMap -> Key: `${PropName}_${booleanValue}` Value: Set which contains ids
- Number: HashMap -> Key: `${PropName}` value: another HashMap (Key -> numeric value, Value -> Set which contains ids)

Imho the boolean approach is ok but I personally don't like the numeric one. For exact numbers, it works well with j

[2022-07-19 08:29] micheleriva opened #31 "Natural (stemming dependency) crashes in browser"
**Describe the bug**
When running Lyra in a browser, you will get the following error:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Clone the Lyra repository
2. Go inside the `packages/examples/with-react` directory
3. Run the development server with `pnpm dev`
4. Go to `http://localhost:3000` and open the development console

**Expected behavior**
Lyra should work out of the box

[2022-07-19 09:18] thomscoder opened #32 "Consider adding JSDoc to the APIs"
**Is your feature request related to a problem? Please describe.**
I've started working on the docusaurus docs as in #24.
I think these two issuses can be related to each other 🙂

**Describe the solution you'd like**
I'd like to add some JSDoc to current or future APIs.
While it is true they're quite intuitive, I think it would ease the end-user in the usage of Lyra's methods.

**Additional contex

[2022-07-19 13:10] #29 closed

[2022-07-19 13:33] silawrenc commented on #31
I've been taking a look at this for a few hours now, I think there's a bunch of things going on here:
- vite doesn't support `require` commonjs-style module resolution Unlike _e.g._ webpack <=4 which ultimately treats everything (imports or requires) with the semantics of commonjs. Hence why things like https://www.npmjs.com/package/@originjs/vite-plugin-commonjs exist. But even those can only con

[2022-07-19 15:54] thomscoder commented on #32
I quickly worked on #32 in https://github.com/thomscoder/lyra/tree/api_docs

I've based the docs on https://nearform.github.io/lyra/
and tried to be as more concized as possible.

I also put the code examples 👍🏽

[2022-07-19 22:47] mateonunez commented on #32
I'm not sure it's a good deal to mix TypeScript and JSDocs.

JSDocs [can be used](https://www.typescriptlang.org/docs/handbook/jsdoc-supported-types.html) with TypeScript, of course. But it probably requires too much effort to modify an existing API or to create a new one.

Instead of JSDocs, Microsoft has created a standard to the doc comments: [TSDoc](https://github.com/microsoft/tsdoc).

[2022-07-20 06:53] thomscoder commented on #32
Oh, alright @mateonunez , I might consider migrating to TSDoc then. 👍🏽
I think I might commit the changes in conjuction with #24 .

[2022-07-20 07:38] DanieleFedeli commented on #15
My PR is almost ready, I will try to do some benchmark

[2022-07-20 07:41] simonireilly opened #35 "Consider Dependency Injection"
Currently the natural language processing from `natural` includes a great deal of large dependencies. For example when I bundle Lyra with esbuild to deploy to lambda it is 13.1 MB in size.

Is it possible to allow injection of both the stemmer, and word tokenizer, so long as those injected dependencies fulfill the contract of the function interface?

This would mean a smaller, but likely less accu

[2022-07-20 08:12] micheleriva commented on #35
I do agree with you. Also, yesterday I released a feature where you can disable stemming entirely, so it might be worth it to avoid Natural import directly when stemming is disabled.

Also, I am considering using a different library because of #31.

I'll keep you posted, thanks for opening the issue!

[2022-07-21 07:50] micheleriva commented on #31
Thank you @silawrenc and @simoneb, this analysis is crystal clear. Natural is becoming more and more complex to maintain in this codebase, and this issue specifically is a blocker. So I'll close this issue and open a new one to migrate to a different stemming library.

Thanks again 🙏

[2022-07-21 07:50] #31 closed

[2022-07-21 07:51] micheleriva opened #37 "Remove Natural as a dependency"
As seen in #31, Natural is crashing on the browser, and there's no easy workaround for it. We should consider moving away from this library before hitting a stable release.

[2022-07-21 07:52] micheleriva commented on #35
Update: we're moving to a different library (#37)

[2022-07-21 10:26] lucaong opened #38 "Typo tolerance misses results"
**Describe the bug**

The bug occurs in `lyra-0.0.1-beta-13`.

Typo tolerant searches miss expected results.

**To Reproduce**

[code]

**Expected behavior**

All 5 documents should be returned, since they all contain a term within edit distance 2 from the query.

[2022-07-21 10:43] lucaong opened #39 "Deleted documents still appear in searches"
**Describe the bug**

The bug occurs in `lyra-0.0.1-beta-13`.

In some cases, deleted documents still appear in later searches

**To Reproduce**

The bug seems to depend on the specific content of the index. For example, start with a setup identical to #38 :

[code]

Note that the last search results include the deleted document, although with no fields apart from the `id`.

**Expected behavior**

[2022-07-21 11:59] micheleriva commented on #38
Looks like a bug, thank you for opening this!

[2022-07-21 13:28] lucaong opened #40 "Deleting one document also causes other documents to disappear from searches"
**Describe the bug**
The bug occurs in `lyra-0.0.1-beta-13`.

Sorry for opening several bugs, I was trying to compare Lyra with [MiniSearch](https://github.com/lucaong/minisearch) and ran into these issues.

**To Reproduce**

[code]

**Expected behavior**

Deleting one document should have no effect on other documents.

[2022-07-22 12:09] #39 closed

[2022-07-22 12:41] lucaong commented on #40
I don't think this is fixed by #41 . The test in that PR has an issue that leads to a false positive.

[2022-07-23 13:25] thomscoder commented on #24
Hey @micheleriva 👋🏽
I would like to ask you a couple of things ([work in progress](https://github.com/thomscoder/lyra/tree/betterDocs))

<img width="1427" alt="Schermata 2022-07-23 alle 15 13 43" src="https://user-images.githubusercontent.com/78874117/180606631-0041a0ef-6e65-4ec3-b329-82bf3daeac43.png">
<img width="1428" alt="Schermata 2022-07-23 alle 15 13 55" src="https://user-images.githubuserc

[2022-07-23 22:23] thomscoder opened #44 "Missing .tsv file in benchmarks"
**Describe the bug**
Hoping I'm not missing some configurations... benchmarks are crashing at

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Running `pnpm benchmark` from root directory (supposing no external/manual confurations are needed 👀)

**Screenshots**
<img width="678" alt="Schermata 2022-07-24 alle 00 05 33" src="https://user-images.githubusercontent.com/78874117/180624665-8

[2022-07-25 02:23] tlahav commented on #38
Hey, I am looking for projects to contribute to and I found this issue in https://goodfirstissue.dev/. I looked at the code a bit and I feel like either I dont fully understand the feature or its implementation is a bit off. For example, the documentation ([here](https://nearform.github.io/lyra/guide/search.html#tolerance)) shows that searching for 'Cris' returns 1 result. But, with the same toler

[2022-07-25 07:11] micheleriva commented on #44
Hey @thomscoder, you can download that file by running the `get-imdb-dataset.sh` script in `/packages/benchmarks` 🙂

[2022-07-25 07:13] micheleriva commented on #38
Hey @tlahav , you're correct, thank you for opening a PR 🙏

[2022-07-25 07:14] #40 closed

[2022-07-25 07:16] #44 closed

[2022-07-25 07:39] micheleriva commented on #24
hey @thomscoder , this looks fantastic!

[2022-07-25 07:41] micheleriva commented on #24
For searching, I think we could use something different from Algolia, as stated here: https://docusaurus.io/docs/search#using-local-search

In the future, we'll be using Lyra of course 🙂

[2022-07-25 08:26] thomscoder commented on #24
Ehyy, thanks for the reply and the heads up on local-search!

eheh, of course 😉

<hr>

One last thing I would ask to consider is if integrating in inside the repo or creating a brand new repository to host it , for better mantainability, as the project could potentially grow huge (with translations or other docs sections in the future) 💯👊🏽

[2022-07-25 08:41] micheleriva commented on #32
Closing this, I'd prefer avoiding JSDoc/TSDocs

[2022-07-25 08:41] #32 closed

[2022-07-25 08:41] micheleriva commented on #24
You're right about maintaining large docs, but for now let's keep it under the same repo, so more people can get involved 🙂

[2022-07-25 09:29] thomscoder commented on #24
Perfect! 💯  thank you again!

[2022-07-25 13:47] lucaong commented on #38
@tlahav 's PR definitely is a big step forward, but there are still issues remaining (see my comments on the PR). I'd recommend adding a larger base of tests, otherwise it is hard to make spot fixes.

To be completely honest, even after making it correct, the current approach is very inefficient, as it is running Levenshtein distance calculation on the whole trie for each term.

One option would b

[2022-07-25 15:17] lucaong commented on #40
Check my comment on #45, as it fixes the issue but leaves dead code and possible performance concerns.

[2022-07-26 09:39] lucaong opened #48 "Duplicate results when the term matches multiple fields"
**Describe the bug**

On Lyra `0.0.1-beta-14` when a search term matches multiple fields, the results contain duplicates.

**To Reproduce**

Here's a reproduction test:

[code]

**Expected behavior**

Results should always be unique, even if the search term matches multiple fields.

[2022-07-26 21:02] thomscoder commented on #48
expanding on this:
<img width="747" alt="Schermata 2022-07-26 alle 23 00 52" src="https://user-images.githubusercontent.com/78874117/181111195-aca95ce1-b8b5-489f-ac48-92bf79c89959.png">

[2022-07-27 10:38] lucaong opened #49 "Benchmarks for typo tolerance do not perform typo-tolerant search"
**Describe the bug**

The benchmarks for typo-tolerance are executing a search with `exact: true`, so they only perform exact match.

**To Reproduce**

No reproduction as this is a problem with the benchmarks, but see how [the benchmark sets `exact: true`](https://github.com/nearform/lyra/blob/d9b041e1195361ce9ae93b2c9efc76c1d6918bf3/packages/benchmarks/engines/typo-tolerance.js#L21). The current

[2022-07-27 20:25] thomscoder commented on #24
For future me:
- Importing Lyra in docusaurus requires a bit more configurations.
- Solved by following this Gist: https://gist.github.com/rohit-gohri/59d0e6a9b4f51d1dd39f5e8894050f74

<img width="1423" alt="Schermata 2022-07-27 alle 19 59 35" src="https://user-images.githubusercontent.com/78874117/181364900-e96762e1-0f9a-40e0-aeea-8076cf3a4ec1.png">

<hr>

The react example does not work out of t

[2022-07-27 20:27] micheleriva commented on #24
@thomscoder that's related to #37. We're planning to remove Natural as a dependency as it breaks on browsers 😢

We'll implement search via Lyra later on 😄

[2022-07-27 20:42] thomscoder commented on #24
Holy smokes! how did I miss that lol. my bad. Well it wasn't wasted time since I learned something new about webpack bundling ahah

<hr>

Oh alright. sounds about right. I'll remove the demo component right away.

[2022-07-28 10:14] Frenzarectah opened #50 "Typo on Readme.md"
There's a typo on Packages>Benchmark> README.md

![Immagine](https://user-images.githubusercontent.com/77576774/181481590-d6d90f1c-7609-44b8-92fd-cf08a1e55e7f.png)

[2022-07-28 13:26] thomscoder opened #52 "Deleted documents still appear in searches - (through substrings)"
**Describe the bug**
Most likely related to #39 ( @lucaong ). On Lyra `0.0.1-beta-14`...

**To Reproduce**

[code]

The results returns an `id` but no match

[code]

**Expected behavior**
[code]

<hr>

**Screenshot**

<img width="838" alt="Screenshot 2022-07-28 152442" src="https://user-images.githubusercontent.com/78874117/181516201-b6e728e8-24c9-4299-a5c7-d79da51831ac.png">

[2022-07-29 14:33] micheleriva commented on #24
Hi @thomscoder !
Any update on the docs? 🙂

[2022-07-29 14:45] #50 closed

[2022-07-29 15:39] thomscoder commented on #24
Heyy, working on it!
My plan was to open a PR this weekend!
sorry for the delay

[2022-07-29 15:43] micheleriva commented on #24
No problem at all!

[2022-07-29 20:03] AlessandroMinoccheri opened #58 "Search case-sensitive for terms with a length less than 3"
**Describe the bug**
It seems that the search is case-sensitive for words with a length < 3

**To Reproduce**
Insert records like:
* ```if you are interested```
* ```if you will go out..```
* search for the term `If`
* you retrieve 0 result
* if you search for the terms: `if you`
* you get results

**Expected behavior**
I am expecting that the search is case-sensitive or not with a specific rule

[2022-07-30 06:36] micheleriva commented on #58
@AlessandroMinoccheri my question is... do we want case-sensitive searches at all?

[2022-07-30 07:04] AlessandroMinoccheri commented on #58
This is the main question @micheleriva
We can have a default behavior and a parameter to specify if the search is case-sensitive or not IMHO.
But we need to have a default and consistent behavior in the code.
This PR could be useful to understand it not only to solve the problem.

[2022-07-30 07:10] AlessandroMinoccheri commented on #58
If I understood well the biggest problem is that with two characters we have a behavior with more another behavior.

[2022-07-30 07:11] micheleriva commented on #58
Adding support for case-sensitive matches may lead us to extra effort with minimal benefits... with the latest PR I merged, we are converting all the tokens to lowercase so the problem should be resolved (in fact, I had to edit a couple of tests that were wrong for the reason you're suggesting).

If we can find a way to add case-sensitive matches with minimum efforts, I'm ok with that!

[2022-07-30 07:17] #37 closed

[2022-07-30 07:20] AlessandroMinoccheri commented on #58
I tried the behavior and it seems to work fine.
Can we explicitly write that the search is case-insensitive? Or is already written?

[2022-07-30 07:26] micheleriva commented on #58
I was waiting for #24 to be completed before updating the overall documentation!

[2022-07-30 07:30] AlessandroMinoccheri commented on #58
Ok, so I can close this issue!
Thank you :)

[2022-07-30 07:30] #58 closed

[2022-07-30 07:31] AlessandroMinoccheri opened #61 "CaseSensitive search"
**Is your feature request related to a problem? Please describe.**
At the moment the search is case-insensitive, so it could be useful to add a parameter to specify if the search must be in case-sensitive

**Describe the solution you'd like**
Adding a parameter during the search called `caseSensitive` could be good enough.

[2022-07-30 07:52] AlessandroMinoccheri commented on #61
We can add to `SearchParams`  type the new property `caseSensitive` nullable and we can pass to the function `tokenize` the param to apply, or not, the lower case.

[2022-07-30 07:54] micheleriva commented on #61
How would this impact the search results? We're also planning to give support to `tf-idf` (or similar algorithm) to determine the weight of a given token depending on the context, would case sensitivity impact here as well?

[2022-07-30 07:56] AlessandroMinoccheri commented on #61
I think that we can add this as a little feature, not so much effort.
And if we will add a better algorithm we can remove the feature.
I think it's not a killer feature for the tool so it's not urgent.

[2022-07-30 09:42] thomscoder opened #62 "Natural dep residual - crash"
**Describe the bug**
I was creating examples for #24 and noticed a crash on `lyra beta 16`

**To Reproduce**
[code]

**Screenshots**
<img width="1437" alt="Schermata 2022-07-30 alle 11 35 44" src="https://user-images.githubusercontent.com/78874117/181904682-79ac5239-257d-4403-89bc-4f4ee8ff5131.png">

**Desktop (please complete the following information):**
 - OS: Monterey 12.4
 - Node: 14.16.0 <=

[2022-07-30 10:00] mateonunez commented on #62
Nice catch @thomscoder.

I have the same issue with a fresh installation.

[2022-07-30 10:02] micheleriva commented on #62
I'm having the same problem, which is kinda strange as you won't find any `Natural` reference in the codebase. This dependency has been removed, the package has been rebuild, but it still appears. Any idea?

[2022-07-30 10:12] mateonunez commented on #62
I've fixed this bug by removing the `dist` folder and rebuilding only the **lyra package**. @micheleriva

[2022-07-30 10:14] micheleriva commented on #62
Fixing it right now

[2022-07-30 10:15] micheleriva commented on #62
Fixed in `0.0.1-beta-17`, thanks for the heads up!

[2022-07-30 10:15] #62 closed

[2022-07-30 10:30] micheleriva commented on #12
FYI, the work is proceeding on https://github.com/nearform/lyra/pull/63

[2022-07-30 15:24] danielehrhardt opened #64 "example page not working"
example link not working:
https://nearform.github.io/lyra/guide/

https://nearform.github.io/packages/examples -➤ 404

[2022-07-30 16:14] micheleriva commented on #64
Hi @danielehrhardt, we're working on the docs, we'll update you asap

[2022-07-30 22:39] thomscoder opened #66 "input is not a string type (crash on `remove` method)"
**Describe the bug**
The `remove` method makes Lyra `beta_17` crash.

It gives the following error
[code]
at
[code]

**To Reproduce**
[code]

**Screenshots**
<img width="1260" alt="Schermata 2022-07-31 alle 00 31 24" src="https://user-images.githubusercontent.com/78874117/182002343-400f7b45-0de7-45c4-b133-b9521cb1dcae.png">

**Desktop (please complete the following information):**
 - OS: Monterey

[2022-07-31 10:02] thomscoder commented on #66
**EXPANDING**: I was writing the tests for this and something very interesting happened.
Consider the following example:
[code]
The test passes. It successfully deletes the document!
But it fails (with the aforementioned `TypeError` giving a `typeof input` == 'object') with this:
[code]
---

The interesting thing is in
[code]
**If the `Schema` has properties of type !== `string`, the `typeof input

[2022-07-31 10:54] micheleriva commented on #64
Work in progress #65

[2022-07-31 15:01] #66 closed

[2022-07-31 15:02] micheleriva commented on #66
Thank you @thomscoder!

I fixed this with  https://github.com/nearform/lyra/commit/3cb1c75e6e0e16b2e636e39fc494f66bb0900fb6, will be published with the next release.

[2022-07-31 15:16] #64 closed

[2022-07-31 16:04] danielehrhardt commented on #64
Some example would be nice. I cannot find one currently in the new Docs.

[2022-08-01 05:51] creatorrr opened #69 "Extend Lyra with basic embedding based search?"
If it makes sense, then it might be possible to do this efficiently with tensorflow-js and an optimised encoder model

[2022-08-01 07:10] micheleriva commented on #69
Hi @creatorrr ,
we're planning to add support for a plug-in system to Lyra, so it might be possible to do that in the near future!

[2022-08-01 07:51] gioboa opened #70 "[feat] persist/restore database"
**Is your feature request related to a problem? Please describe.**
In order to be in line with cloud environment (or instance rebooting) an API for persist/restore in memory database could be fantastic.

**Describe the solution you'd like**
I'd like file system usage for this kind of activities because you can resize disks size without reboot the instance and disk usage is cheaper than ram.

[2022-08-01 07:56] micheleriva commented on #70
Hi @gioboa!
We've already implemented this feature 🙂 we can serialize the entire index and write it to disk for the reason you mentioned. We're currently trying to implement a common API for Node.js, Bun, and Deno, as disk access may vary.

We'll be releasing this feature with the first stable release or so

[2022-08-01 08:05] gioboa commented on #70
Nice 👏 I'm looking forward to try this feature 👍

[2022-08-01 09:19] mateonunez opened #71 "React example can't find built Lyra package"
**Describe the bug**

With a fresh clone of Lyra, try to run the `example/with-react` package and I've got the following error:

![image](https://user-images.githubusercontent.com/11861080/182116125-be062629-b602-4abf-9ad9-5f10b4463ef6.png)

**To Reproduce**
Steps to reproduce the behavior:
1. git clone https://github.com/nearform/lyra
2. cd lyra && `npm|yarn|pnpm` install
3. cd pacakges/examples/

[2022-08-01 09:42] thomscoder commented on #71
Ehyy @mateonunez 👋🏽
I can work on it!

I was thinking of putting a react example in the docs separately as well (iirc @micheleriva wanted to wait a bit for that 😄 )

[2022-08-01 10:16] mateonunez commented on #71
Hi @thomscoder, currently I'm trying to improve the example with React and I'm creating other examples with other frameworks. I think the fix of this issue will be included in the next PRs. But thank you so much for your support! 🙏

[2022-08-01 10:35] micheleriva commented on #48
Thank you @lucaong so much for opening this issue. It has been fixed with https://github.com/nearform/lyra/commit/f8138656fdc530173b02b36be23f41eb3acac10d!

[2022-08-01 10:35] #48 closed

[2022-08-01 12:54] #71 closed

[2022-08-01 13:43] micheleriva commented on #35
I'm going to close this issue for two reasons:

1. We will adopt dependency injection
2. We removed the library

Cheers!

[2022-08-01 13:43] #35 closed

[2022-08-01 13:44] #24 closed

[2022-08-01 13:44] micheleriva commented on #24
Closing this, PR merged

[2022-08-01 13:48] simonireilly commented on #70
Super interested in the solution taken.

I was serializing the tree to a JSON representation, with a separate file for the doc map. Seeding from a file of just schema documents was very slow for cold starts on edge nodes

[2022-08-02 07:43] #52 closed

[2022-08-02 09:02] thomscoder opened #74 "Lyra's mission in docs"
**Describe the solution you'd like**
I was thinking of separating the [Getting Started](https://nearform.github.io/lyra/docs/introduction/getting-started) and the [Installation](https://nearform.github.io/lyra/docs/introduction/getting-started#installation) pages.
Instead I was thinking of creating a sort of `Why another text search engine` page/section with [Michele's thoughts](https://github.com

[2022-08-02 09:35] micheleriva commented on #15
@DanieleFedeli quick follow-up: we're planning a plugin system, and we'll probably move the query clauses as a separate plugin; as for now I'll keep your PR opened as it might get merged as a plugin

[2022-08-02 16:36] sandstrom opened #75 "Diacritics support"
The search library Sifter (https://github.com/brianreavis/sifter.js/) has support for diacritics. Maybe Lyra could add something similar?

Their implementation is here: https://github.com/brianreavis/sifter.js/blob/master/lib/sifter.js#L444

[2022-08-02 21:44] paulocoghi opened #76 "Suggestion: add other JS libraries to the benchmark, like Flexsearch"
**Is your feature request related to a problem? Please describe.**
It would be better if we could compare how lyra behaves among other existing full-text search JS libraries.

**Describe the solution you'd like**
I propose to add the main existing libraries to the benchmark, to more easily compare the benefits of lyra.

[2022-08-03 07:30] micheleriva commented on #64
@danielehrhardt here it is: https://nearform.github.io/lyra/demo

[2022-08-03 07:58] micheleriva commented on #75
That sounds super interesting. Yes, we might be interested in supporting this!

[2022-08-03 08:06] micheleriva commented on #76
Hi @paulocoghi ,
yes, it would be interesting to see a direct comparison with other libraries. We already have a `packages/benchmarks` directory with some datasets, we'd be glad if anyone could open a PR to support this

[2022-08-03 17:41] danielehrhardt commented on #64
Awesome thanks!

[2022-08-04 08:07] #75 closed

[2022-08-04 09:38] sandstrom commented on #75
Nice! 🎉

[2022-08-04 15:26] nasainsbury opened #85 "How does insert work? Why storing individual tokens?"
Hi,

Apologies, I'm just exploring the code and had a question about `insert(nodes: Nodes, node: Node, word: string, docId: string)`. Looking through the code it looks like `word` is being looped across, and the parameter, `word` implied to me it takes a single word.

However, I was checking out the test:

[code]

It looks like from this code that `word` can be any string, i.e a phrase.

The purpo

[2022-08-04 16:47] micheleriva commented on #85
Hi @nasainsbury,
no need to apologize, let me explain 🙂

We have to distinguish two different data structures: the trie, which is the radix tree itself, and the index, which is a radix tree used as an inverted index to store the reference of a token with a document.

When inserting something in a trie, we can technically insert whatever we want, as long as it's a string. So yes, you could also ins

[2022-08-04 19:10] nasainsbury commented on #85
Hey, thanks for that explanation, really helpful 👍

Will close this issue, hopefully it will help someone else too :)

[2022-08-04 19:10] #85 closed

[2022-08-05 13:54] thomscoder commented on #74
Closing as implemented in [Lyra's homepage](https://lyrajs.io/#:~:text=Built%20%26%20sponsored%20by-,Why%3F,-Lyra%20is%20a).

[2022-08-05 13:54] #74 closed

[2022-08-07 11:03] micheleriva commented on #70
@simonireilly we made a full rewrite of our APIs and data structures right before the first initial release. You can now serialize the whole index using protocol buffers, dpack, json, whatever you prefer, we made it fully compatible with most modern serialization formats 🙂  That means that you could also run this in the browser (cc @matthewp )

[2022-08-08 05:40] SoTosorrow opened #88 "[new language support] Apply a PR for chinese language support"
Hello! Thanks for the lyra first.
I'm a new chinese user and I install it to my code after I saw the lyra 5 minutes, it is easy to understand and use.
But unfortunately it does not support Chinese. i find the tokenizer/index.ts is loosely coupled that i can add language support conveniently. may i have a chance to commit a PR for the "chinese language support"?
Ask for your permission (the guideli

[2022-08-08 06:52] micheleriva commented on #88
Hi @SoTosorrow ,
absolutely, any PR is very appreciated 🙂

[2022-08-08 07:53] SoTosorrow commented on #88
thx for your reply.
I just realized that the index of lyra starts with the beginning of a split word,.
For example, lyra can search "**lov**" to "**i love her**", but can not search "**ove**" to "**i love her**"(with exact).
which means that for languages with consecutive word（with no or fewer split) such as Chinese, Japanese, similar rules cannot be simply applied.
Chinese's sentence always like

[2022-08-09 07:35] SoTosorrow commented on #88
It's not easy to support chinese (or any other language which use consecutive-word with no split) by append a simple regular expression in pure lyra, if i want to retrieval chinese, i need to break down words before "insert" and "search".
Should i add the regular expression and prompt the user that chinese sentences needs to be processed first or give up this method?

[2022-08-09 07:58] micheleriva commented on #88
@SoTosorrow we could make rules for languages such as Chinese where we operate on tokens differently. But we need examples and documentation to understand how to operate properly, here we might need your help 🙂

[2022-08-09 08:10] SoTosorrow commented on #88
I'd love to help with examples and documentation. I will give the relevant information after sorting it out.
Should i open a discussion for the examples and documentation or continue in this issue?

[2022-08-09 08:27] micheleriva commented on #88
Let's open a discussion for that, will act as future documentation

[2022-08-09 08:32] SoTosorrow commented on #88
copy that! thanks

[2022-08-09 11:01] creatorrr commented on #69
Closing this for now. Perhaps we can revisit this after plugin system is shipped!

[2022-08-09 11:01] #69 closed

[2022-08-10 12:17] micheleriva commented on #70
@matthewp, @gioboa, a little update: this is a work in progress in the https://github.com/LyraSearch/plugin-disk-persistence repo. Any help would be highly appreciated 🙏

[2022-08-10 12:18] micheleriva commented on #70
I'm gonna close this issue and pin it as it might be interesting for other people wondering how to persist Lyra data

[2022-08-10 12:18] #70 closed

[2022-08-10 13:38] matthewp commented on #70
This sounds great, thanks a lot!

[2022-08-10 13:45] matthewp commented on #70
From an API perspective, if I was creating a persistence package, I would want the ability to persist on each change to the database. It might be nice if a lyra DB was an event emitter for that reason. I could imagine a disk persistence package working like:

[code]

That way a user would only need to call `persist` once and not manage calling it every time they inserted, removed, etc.

[2022-08-10 13:46] micheleriva commented on #70
@matthewp let's discuss this in the disk persistence repo 🙂

[2022-08-13 21:24] Yorkshireman opened #93 "Suggestion: Add `matchingTerms` array to `search()` output"
**Is your feature request related to a problem? Please describe.**
I suspect a common use of this library is to search through a list of messages / emails etc and show matching results, and then highlight the matching terms in the resulting filtered list. This is not super-straightforward with the current implementation.

**Describe the solution you'd like**
In the `search()` output it would be us

[2022-08-15 08:29] micheleriva commented on #93
Hi @Yorkshireman , thanks for your feature request. Do you happen to have a reference of other search engines implementing this feature? I'd like to see how they manage it

[2022-08-15 08:51] Yorkshireman commented on #93
Hi Michel, I don't sorry. I know I've been a bit lazy so far - I haven't looked at the source code of lyra properly yet, but I would think it wouldn't be too difficult to "pluck out" a cause of a hit and push it into a `matchingTerms` array? I am talking from a completely ignorant position here though of course so I could be very wrong!

[2022-08-15 08:56] Yorkshireman commented on #93
Ah you're probably wondering _what_ is best to do rather than _how_. Yes makes sense.

[2022-08-15 13:22] simonireilly opened #97 "Chore: Distribution files should just be dist"
Looking at the entry points of the distribution:

https://github.com/nearform/lyra/blob/6d4fd373b40e834fc0cfd7fe633460ac0a85b4e0/packages/lyra/package.json#L22-L24

The exports will be dist folder.

The actual package includes multiple CI / Testing fixtures / coverage report files that are not needed and likely bloat the package install.

Image shows all files included that are not necessary:

![i

[2022-08-15 15:42] micheleriva commented on #97
This is related to https://github.com/nearform/lyra/pull/87. We'll try to fix this in the next release

[2022-08-15 15:44] simonireilly commented on #97
Oh dear, I should have checked, thanks

[2022-08-20 16:37] micheleriva opened #98 "`process` and `performance` global variables are not available on V8 Isolates"
When running Lyra on Cloudflare Workers, global variables are undefined `process` and `performance`.

We should either provide a small polyfill or a fallback to support performance metrics on V8 isolates

[2022-08-21 09:06] #98 closed

[2022-08-21 14:46] Assassinduck opened #99 "TypeError when trying to run simple Node project with Lyra imported"
**Describe the bug**
Get "TypeError: Cannot read properties of undefined (reading 'length')" when trying to run a barebones Node project with Lyra imported

**To Reproduce**
Steps to reproduce the behavior:
1. Make a Node project and import Lyra.
2. Make a simple Lyra DB and add some items to it.
3. Set up a variable containing a search result from the DB.
4. console.log out the search result.
5.

[2022-08-21 15:43] mateonunez commented on #99
Hi @Assassinduck!

I think you should change the parameter of `search` method.

[code]

You should use **term** instead **seriesName**.

[2022-08-21 19:46] Assassinduck commented on #99
Thank you!

[2022-08-21 19:46] #99 closed

[2022-08-22 16:24] aaronhuggins opened #100 "[BUG] Duplicate hits when overriding `id`"
**Describe the bug**
When overriding the property `id` of documents, search will return more hits than the actual count of hits in the search results. The additional hits will be duplicated documents.

**To Reproduce**
Steps to reproduce the behavior:

Use this sample script:
[code]
Sample output:
[code]

**Expected behavior**
It is expected that the `hits` array contains no more than `count: n` a

[2022-08-22 16:44] micheleriva commented on #100
Thank you @aaronhuggins ,
that looks like a bug. We're on it

[2022-08-23 10:23] stearm commented on #100
@micheleriva In this case it would be necessary to decide whether to override the id that the engine inserts or keep them both and understand how to manage them. Am I right? Do you have something in mind?

[2022-08-23 12:32] micheleriva commented on #100
Personally, I would discourage allowing users to define their own IDs. I think that trying to override the `id` should throw an error.

[2022-08-23 13:39] stearm commented on #100
Yes totally, it is prone to errors as Lyra relies on the id internally. If you agree, I can take charge of this.

[2022-08-23 13:43] micheleriva commented on #100
@stearm pushing a commit right now 😄

[2022-08-23 13:43] #100 closed

[2022-08-23 13:44] micheleriva commented on #100
@aaronhuggins to be released in v0.0.6

[2022-08-23 13:44] mateonunez commented on #100
I've do the same search but using `properties`:

[code]

The output will be:

[code]

[2022-08-24 01:22] snide opened #101 "Process.hrtime is undefined with Next.js since 0.0.5"
**Describe the bug**

On upgrade to `0.1.1` (from `0.0.4`) the search function spits out a process error in Next.js

[code]

Guessing this might be due to the changes in  https://github.com/LyraSearch/lyra/commit/b51456c2c22b99337f492942697ad32299701f9b which were added to `0.0.5`

Here's a sandbox reproduction using the most popular TS/Next.js configuration

https://codesandbox.io/s/magical-carlo

[2022-08-24 06:59] micheleriva commented on #101
Thanks for reaching out, we're on it!

[2022-08-24 07:53] #101 closed

[2022-08-24 09:28] swftvsn opened #103 "What is the best way to do date range search"
I have documents with dates (Those can be converted to milliseconds since epoch values.) - what's the best way to formulate query like `where date is less than parameter` and text contains `Parrot`.

Is this something that is in the roadmap, or doable already?

[2022-08-24 13:10] micheleriva commented on #103
Hi @swftvsn, as for now, we don't support query clauses. We have an open discussion in #36 about that, and we'll be releasing this feature in the short/mid term

[2022-08-24 16:22] swftvsn commented on #103
Awesome @micheleriva! Thank you for the good work 🥇

[2022-08-24 16:22] #103 closed

[2022-08-25 01:05] cpojer opened #104 "Relevance of schema fields"
**Is your feature request related to a problem? Please describe.**
It would be great if the schema could allow specifying the relevance for individual fields. For example, if you have a schema with a `title` and a `content` field, then in many cases a match on the title implies that the result is more relevant than others where the keyword just matches on the content.

**Describe the solution you'

[2022-08-25 03:48] iShibi commented on #104
If this feature does get taken under consideration then I suggest specifying relevancy during the search in the `properties` field is a better option. For eg:

[code]

For comparison sake, this is the current way of using the `properties` field during the search:
[code]

This will keep the schema simple and let us change the relevancy of properties per search.

[2022-08-25 03:52] cpojer commented on #104
Great idea @iShibi, I like that proposal!

[2022-08-25 08:16] micheleriva commented on #104
@cpojer, I think @iShibi's solution will be doable once we get https://github.com/LyraSearch/lyra/pull/63 (or a similar plugin) merged. We could easily use a `relevance` value from `0.01` to `1` as a multiplication factor for TF-IDF scores

[2022-08-26 10:01] micheleriva commented on #97
Fixed in v0.1.3

[2022-08-26 10:01] #97 closed

[2022-08-27 11:53] micheleriva commented on #49
We removed the benchmarks from this repo, as we'll create a separate one. Closing this for now

[2022-08-27 11:53] #49 closed

[2022-08-27 16:32] nathanclevenger opened #108 "Error on Nubula Run"
**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. I followed the instructions at <https://docs.lyrajs.io/deployment/nebula/running-nebula>2.
2. execute `nebula run`3.

**Expected behavior**
I expected it to generate `src/index.js`

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**

[2022-08-27 16:52] micheleriva commented on #108
Hi there, this is an error specific to the **Nebula** package, would you mind opening an issue here? https://github.com/LyraSearch/nebula

thanks!

[2022-08-27 17:05] nathanclevenger commented on #108
thank you

[2022-08-27 17:05] #108 closed

[2022-08-28 08:57] micheleriva commented on #104
Update: we have the first alpha version for a TF-IDF plugin: https://github.com/LyraSearch/plugin-token-relevance

[2022-08-31 04:56] acnebs opened #112 "Allow passing custom IDs and doc updating"
**Is your feature request related to a problem? Please describe.**
Hi, I have documents that already have their own unique IDs, and when those docs are updated I want to be able to tell Lyra to update the index with that doc in mind. Currently I can do this like so:

1. `const {id: lyraId} = insert(db, doc)`
2. `lyraMap[MY_DOC_ID] = lyraId`
3. an edit is made to _MY_DOC_ID_
4. `const lyraId = lyra

[2022-08-31 19:11] micheleriva commented on #112
Hey @acnebs,
Thank you for opening this. Lyra is built with immutability in mind, even though it provides a `delete` function (to be used if there's data that REALLY needs to be erased).

We'll definitely have to provide a way to update docs, but I'm thinking of making this available exclusively when the `edge` property is set to `false`.

I'd also take the opportunity to make the `delete` functio

[2022-09-01 06:06] bacloud22 opened #114 "Is it possible not to use any Lyra tokenizer ?"
Hi,
Thanks for providing Lyra !

So i've already relied on a tokenizer with my algorithm, is it possible to pass plain arrays of words ? or I need to re-join the words and go again through the internal tokenizer of Lyra ?

[2022-09-01 06:53] bacloud22 opened #115 "JavaScript heap out of memory (node)"
I'm giving the node 6 gigs already,

I am trying to index a file of 6 million documents, but no worries; each document is literally like:

`{ title: "hello this is a Wikipedia title" }`

Most of titles are shorter actually, (wikipedia) titles dump. (the whole dump is 350 mb on disk, as text, so in memory I'm sure it is way lighter)

A second question please, I have already a tokenizer (`natural` l

[2022-09-01 21:51] chuanqisun commented on #88
I wonder if this feature can benefit from [Intl.Segmenter](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Intl/Segmenter) (requires a [polyfill](https://github.com/surferseo/intl-segmenter-polyfill) for FireFox). Segmenter can take the locale and automatically determine where the word boundaries should be. Also, potentially reducing library size and improving toke

[2022-09-02 12:26] ShogunPanda commented on #112
In my opinion it depends on which kind of editing are you doing to your document.

If you are modifying indexed fields, then a future `update` method (which essentially is a `remove+insert`) will make the trick.

If you are modifying non indexed fields, I would suggest to use a reference to the entire document rather than passing the actual document to Lyra. This way you can modify other fields an

[2022-09-03 14:41] SoTosorrow commented on #88
It seemd works, i will do more test, thanks for your guidance！

[2022-09-03 18:26] #115 closed

[2022-09-03 19:15] micheleriva commented on #115
Hey @bacloud22 , how is that closed? Just curious

[2022-09-03 20:39] bacloud22 commented on #115
Hi @micheleriva ,
Sorry I didn't follow up. Simply I've run a tf-idf with so much sacrifice, as I dropped some edge words from documents. Edge words like ones very much repeating (prepositions, etc) and also very rare (nouns of cities etc)
Also I didn't test accuracy for now. It just fits my memory

[2022-09-04 11:03] codyzu opened #117 "Broken examples and benchmarks after monorepo refactor"
**Describe the bug**
Commit d0f95d789ed80de2f8ebc31eedee5e72c0a27877 broke the react example (`App.tsx` was deleted) and deleted the benchmarks. Was this intentional? Do you want a PR to clean this up or add them back?

[2022-09-04 16:04] micheleriva commented on #117
Hey @codyzu,
I am thinking of removing the examples actually. We already removed the benchmarks (will make a separate repo) for them

[2022-09-04 16:10] micheleriva commented on #114
Hi there,
yes, this is gonna be part of an upcoming release. I'll notify you as soon as we have it!

[2022-09-04 16:18] bacloud22 commented on #114
If you need to add a persistence (of the model, or index or anything) I can make a **proto** model to help performance. I've been playing with lately. But then it's gonna be an additional dependency (maybe optional).

[2022-09-04 16:27] micheleriva commented on #114
Hi @bacloud22 ,
custom tokenizer is available in [v0.2.1](https://github.com/LyraSearch/lyra/releases/tag/0.2.1). I am working on the docs right now, but here's how it works:

[code]

About data persistence, we already have a plugin for that: https://github.com/LyraSearch/plugin-data-persistence

We already tested protobuffers, but found out that dpack might perform better in our case. Feel free t

[2022-09-04 16:27] #114 closed

[2022-09-04 16:30] bacloud22 commented on #114
Cool stuff ! thanks a lot for the quick feature.

[2022-09-05 10:11] codyzu opened #121 "Remove browser entry point in package.json after expo supports webpack 5"
The `browser` entry point in `package.json` was added in #120 to allow support for expo which uses webpack 4 (see details in that PR). Once expo supports webpack 5 (probably in https://github.com/expo/expo-cli/pull/3763 ), we can remove the `browser` TS compilation and `package.json` entry point.

[2022-09-06 20:21] mateonunez opened #126 "Error: Cannot find module '../stemmer/cjs/en'"
**Describe the bug**

The new release can't find module `'../stemmer/cjs/en'`, imported in `lyra.js:6`

**To Reproduce**
Steps to reproduce the behavior:
1. npm init --yes
2. npm install @lyrasearch/lyra@0.2.2
3. npm run start

**Expected behavior**

When Lyra is build, the stemmer path becomes wrong: it adds one level on the dist folder.

![image](https://user-images.githubusercontent.com/1186108

[2022-09-06 20:38] AliMejbar commented on #126
Same Problem.
OS: macOS 13.0
Node: v18.7.0
Lyra: v0.2.2

[2022-09-07 04:56] micheleriva commented on #126
Thanks for opening this, would you be available for opening a PR? 🙏

[2022-09-07 12:05] #126 closed

[2022-09-09 07:06] ShivamJoker opened #129 "Elapsed time is always 0 when using lyra in cloudflare workers"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a simple DB
2. Insert some items
3. Do a simple search
4. Deploy to Cloudflare workers (can be used with astro as well)
5. Log the elapsed time from result

Here is the sample repo made with astro - https://github.com/ShivamJoker/Dad-jokes-SSR/blob/main/src/pages/in

[2022-09-10 10:36] micheleriva commented on #129
Hi @ShivamJoker,
this might be due to a momentary workaround we had to take when serializing to JSON. Lyra uses a `BigInt` data type to express the elapsed time in nanoseconds, and `BigInt` cannot be serialized to JSON.

We're well aware of this little problem, and we have already planned a solution. I don't have any estimation to share, I hope this is not a blocker for your project.

[2022-09-10 10:43] ShivamJoker commented on #129
Oh that's great if you already know, I just wanted to inform you about the bug.

No it's not a blocker.

[2022-09-10 10:49] micheleriva commented on #129
Good to hear, thanks!

[2022-09-10 10:49] #129 closed

[2022-09-15 08:10] stearm opened #135 "refactor: insert and insertWithHooks functions are almost identical"
Since the [insert](https://github.com/LyraSearch/lyra/blob/main/src/lyra.ts#L335) and the [insertWithHooks](https://github.com/LyraSearch/lyra/blob/main/src/lyra.ts#L370) are more or less the same functions, I'm wondering if it's worth adding a field inside the [InsertConfig](https://github.com/LyraSearch/lyra/blob/main/src/lyra.ts#L80) type like:

[code]

and update the `insert` function like thi

[2022-09-15 09:12] sundlemonflux commented on #135
Would be useful if hooks also got db instance itself for manipulation, just the document id is not overly useful as there isn't a way to access db inside the hook (as far as I know 😅 ).

[2022-09-15 12:48] RafaelGSS commented on #135
That's expected. Hooks are still experimental, if we merge it into `insert` we would need to change its signature to return **always** a Promise, which is a breaking change.

We're evaluating a better approach and this likely will be refactored any time soon. By the way, would be great to see your use-cases using Hooks.

[2022-09-17 09:01] mateonunez opened #136 "Browser build doesn't export methods"
**Describe the bug**
The current version of Lyra, ran in a browser doesn't work.

[code]

I got the same error with `search` and `insert` methods.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new index file importing a browser release: [https://unpkg.com/@lyrasearch/lyra@0.2.4/dist/browser/src/lyra.js](https://unpkg.com/@lyrasearch/lyra@0.2.4/dist/browser/src/lyra.js)
2. Paste th

[2022-09-21 16:28] willtemperley commented on #112
Whether editing or not, the original document id is very often required to e.g. look up the original document - e.g. search results are returned and the id is used to look up linked data in e.g. another micro service. Whilst it's not a dealbreaker to keep a Map<LyraId, DocId> around it's still boilerplate and a waste of memory.

[2022-09-22 13:58] ShogunPanda commented on #112
I agree it's a waste of time. When I get the chance I'll implement the fix I mentioned earlier.

[2022-09-22 21:16] chrisj74 opened #137 "Single letter "c" search causes error - trie.js:6 Uncaught TypeError: function is not iterable (cannot read property Symbol(Symbol.iterator))"
**Describe the bug**
Searching for letter `c` causes error:
[code]
I have hacked about this by preventing single string searches and deferred searching until at least 3 chars, but have discovered that `.` acts as a word separator, so searching `github.c` also causes the error. My search needs to index domain names, so this is an issue.

Other letters work fine.

**To Reproduce**
This is the basic

[2022-09-24 15:03] micheleriva commented on #137
Hi @chrisj74 ,
Thanks for opening this. It looks quite strange, we should catch this kind of issue with our CI right before the release.

Let me look into that - any suggestion on how to fix this/PR would be highly appreciated given that you already identified a possible point of failure 🙂

[2022-09-24 15:05] micheleriva commented on #136
Thank for opening this @mateonunez!

@codyzu, looking at the bundle at `https://unpkg.com/@lyrasearch/lyra@0.2.4/dist/browser/src/lyra.js`, it looks like we're bundling using CJS... wouldn't it be the case to build ESM modules for browser usage?

[2022-09-24 15:06] micheleriva commented on #135
Closing this as Rafael's answer explains it 🙂

[2022-09-24 15:06] #135 closed

[2022-09-26 13:50] codyzu commented on #136
Hmmm... this was related to #120 and was to support webpack 4 builds for expo. Browser seemed like a fitting name even if it was really to support webpack.

I'll see if expo is happy if we just target esmodules

@mateonunez Can you also try changing your import from `browser` to `esm`:
[code]

I'm guessing you just need to run the esm specific build since you running a module in the browser (oh...

[2022-09-26 13:55] codyzu commented on #136
We might just need to add a new section to the readme.

Also, I think these links are probably broken:
- https://github.com/LyraSearch/lyra/blob/02da60fcc837386e2f459464b1c9a77fb95c0358/README.md?plain=1#L177
- https://github.com/LyraSearch/lyra/blob/02da60fcc837386e2f459464b1c9a77fb95c0358/README.md?plain=1#L195

[2022-09-26 14:00] codyzu commented on #136
This works for me: https://codepen.io/codyzu/pen/XWqzwYJ

[2022-09-26 14:03] #136 closed

[2022-09-27 07:39] micheleriva commented on #137
Hi @chrisj74 , would you be able to create a reproducible repo either via codesandbox or on github? I am not able to replicate the problem

[2022-09-28 11:48] mateonunez opened #139 "Can't search numbers or booleans"
**Describe the bug**
As defined in the type, is not possible to search terms different than `strings`.

![image](https://user-images.githubusercontent.com/11861080/192768058-2ff7066c-68cb-444d-a3a4-b56e855b65ea.png)

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Expected behavior**
Lyra's searches should support the types of the `PropertiesSchema` declared.

Anyway, whether I try to

[2022-10-04 08:53] lucaong commented on #137
@chrisj74 @micheleriva this is because the character `c`  matches the term `constructor` in the index. You can probably reproduce this issue by adding a document containing the word `constructor` and search for it.

The issue is that the property `constructor` in any JS object returns a function, namely the constructor function for the object:

[code]

This is why [MiniSearch](https://github.com/l

[2022-10-04 19:01] micheleriva commented on #137
Thank you so much @lucaong, you are totally right. I’m going to open a PR for this on Thursday and make a release to fix this immediately.

[2022-10-05 09:06] aldotele opened #142 "Typo in README"
Hi there, going through the documentation I noticed a typo (Lrya instead of Lyra), I am opening a PR to fix that, hope it helps!

[2022-10-05 09:37] #142 closed

[2022-10-06 10:27] micheleriva opened #148 "Replace trie `Node`'s docs property from `string[]` to serializable skip list"
**Is your feature request related to a problem? Please describe.**
In `src/prefix-tree/node.ts`, we define the `Node` interface the following way:

[code]

`docs` is an array of strings containing all the document IDs that reference a given token.

This is an easy approach, but once we got references to thousands of documents, it slows down the insertion/deletion process as we have to linearly sea

[2022-10-06 18:04] chrisj74 commented on #137
@micheleriva  Thanks for speedy turnaround.

@lucaong thanks for taking the time to flesh out the issue.

[2022-10-06 19:32] lucaong commented on #137
Welcome :)

[2022-10-07 16:57] micheleriva commented on #148
Closed as we'll follow another route

[2022-10-07 16:57] #148 closed, assigned to nobody

[2022-10-13 14:16] mateonunez opened #154 "Lyra don't creates nodes for multiple nested props"
**Describe the bug**
With #17 Lyra implemented the support of _nested properties_. The implementation works fine if there is only 1 nested property in the schema. Adding more objects in the schema, the nodes are not inserted properly at the root level.

**To Reproduce**
Steps to reproduce the behavior:

1. Create a new Lyra project and paste the following code:

[code]

**Expected behavior**
Every

[2022-10-13 20:23] frankleng opened #155 "Support list of strings as schema type"
**Is your feature request related to a problem? Please describe.**
Would be useful to index list of strings/numbers as a schema type.
ie.
[code]
**Describe the solution you'd like**
[code]

**Describe alternatives you've considered**
we can do an `Array.join` on the string and search for partial match. but would like ability to perform exact match.

[2022-10-14 08:01] micheleriva commented on #155
Hi @frankleng,
thank you for opening this!

I am just wondering what the search API would look like.

Given the following example:
[code]

it means we should search through all the arrays that contain the terms `quick brown fox`, right? We can achieve the same result right now by creating the following instance:

[code]

and then insert data as follows:

[code]

During the tokenization process, Ly

[2022-10-16 15:48] #154 closed

[2022-10-17 06:04] frankleng commented on #155
@micheleriva thanks. that makes sense. assuming it should be `myArrayProperty: ['foo', 'bar', 'baz'].join(',')`

re: API - how about
[code]

[2022-10-17 06:53] micheleriva commented on #155
So, we have plans for query clauses (#15), as for now Lyra only works in `AND` between tokens. We still need an agreement on the APIs, then it should be quite easy to implement it (we can just remove the intersection algorithm introduced with #150).

Please feel free to join the Slack channel if you want to be notified with every new release 🙂 https://join.slack.com/t/lyrasearch/shared_invite/zt-1

[2022-10-17 06:53] #155 closed

[2022-10-17 13:14] tlahav commented on #38
Coming back to this after a bit. I think there needs to be an executive decision made here on which way to go. If we were to implement the search feature with MiniSearch I dont see why not replace the entire search with it. On the other hand, if we do want to reinvent the wheel.. We would then need more requirements. Regardless, I fear I do not have the bandwidth to work on this further.

[2022-10-17 13:59] micheleriva commented on #38
Hi @tlahav,
We have plans and bandwidth to work on Lyra and fix what needs to be fixed, so we'll proceed that way. @lucaong already knows how much I appreciate MiniSearch and other search libraries, and it's not a matter of "reinventing the wheel," as plans with Lyra are beyond full-text search exclusively.

Lyra is currently backed by [NearForm](https://nearform.com), and we have a roadmap for it

[2022-10-17 16:30] matteoscaramuzza opened #159 "Cannot filter strings with more than one space"
When I try to filter an array of elements like this one:

[code]
by its address, it doesn't return anything when I try to search by a string with more than 1 space.

e.g.

![Senza nome](https://user-images.githubusercontent.com/78930980/196231375-ca0054c3-5874-482a-bdcf-5542ff65f087.png)

![Senza nome](https://user-images.githubusercontent.com/78930980/196232368-f5345d69-8cc1-4987-a549-984a5d8bc31

[2022-10-19 14:34] tlahav commented on #38
Thanks for the explanation. I suggest removing the 'good first issue' and 'help wanted' labels off of this ticket so it wont show up in sites that aggregate these tickets.

I am a fan of the library though, do tell me if there's a different item to look at.

[2022-10-21 13:46] matteoscaramuzza commented on #159
fixed by pr #160

[2022-10-21 13:46] #159 closed

[2022-10-24 05:16] gitexp2050 opened #162 "Add support for tamil language unicode texts and others fonts support"
Add support for tamil language unicode texts and others fonts support

[2022-10-24 12:53] micheleriva commented on #93
Closing this as https://github.com/LyraSearch/lyra/pull/150 fixes the search algorithm. Multiple terms queries are `OR` by default now

[2022-10-24 12:53] #93 closed

[2022-10-24 16:13] #13 closed

[2022-10-24 16:14] #12 closed

[2022-10-27 09:58] #88 closed

[2022-10-29 02:58] simonwiles commented on #93
I've just been looking at replacing a lunr.js -based system, and I've just been taking lyra for a spin -- it performs very nicely!  But this is necessary functionality for this particular case (either returning the terms matched as they appear in the the original context or a `[start, end]` offset -- lunr.js offers both).  Or perhaps an extracted snippet could also work.  Is there any likelihood o

[2022-11-02 10:22] shiba-sama opened #168 "Non-searchable types for Schema"
I propose a non-searchable array type (similar to "stored" field in Elasticsearch).

- Currently the search database schema only permits a few primitives.
- A user may have a collection of objects to search over, some of which may be an array. For example an array of the `Bookmark` type below:
[code]
- There are some workarounds for this scenario, such as transforming tags to a string and then lat

[2022-11-02 10:35] micheleriva commented on #168
Thank you @shiba-sama , that's a good point. I'll discuss an API proposal with @ShogunPanda and update you

[2022-11-06 00:28] xieyezi opened #170 "How to create a custom stemmer？"
Awesome project!

Is there any tutorial or any guide that can help me create a custom stemmer？ I wanna create stemmer for Chinese. I will initiate a pull request after I finish it.

[2022-11-06 19:50] micheleriva opened #171 "Implement non-searchable fields in Lyra"
**Is your feature request related to a problem? Please describe.**
This is an RFC for a new Lyra feature, following #168 issue

**Describe the solution you'd like**

**TL;DR**: if a property is not part of the schema definition, don't create an index for it but keep it in the `Lyra.docs` hashmap.

**The Proposal**

We would like to implement non-searchable fields in Lyra.
Right now, we only suppor

[2022-11-06 19:51] micheleriva commented on #168
Hi @shiba-sama,
I created an RFC for this issue: https://github.com/LyraSearch/lyra/issues/171

let me know what you think!

I'm going to close this to continue the conversation on #171

[2022-11-06 19:51] #168 closed

[2022-11-07 09:40] ShogunPanda commented on #171
I'm totally fine with this proposal.

Also because I think that what people probably were already expecting when defining the schema.

Good job buddy!

[2022-11-08 08:09] mateonunez commented on #171
Hi @micheleriva, I agree with the `semi-schema` for Lyra. Sometimes it is very difficult to predict the Lyra schema and the errors generated by unsupported fields can be many. To avoid this I created a simple plugin ([lyra-schema-resolver](https://github.com/mateonunez/lyra-schema-resolver)).

Actually, through the insert method, the schema must match the document being inserted, otherwise an erro

[2022-11-11 13:01] micheleriva opened #172 "Introduce TF-IDF cache"
Once #169 is merged, we need to introduce a caching layer for TF-IDF score ranking

[2022-11-12 12:47] micheleriva commented on #170
Hi @xieyezi!
Chinese can be quite challenging (especially for a non-native speaker like me), so I'd really appreciate some help.

In the context of Lyra, you can always provide a custom stemmer while initializing a new instance:

[code]

Taken from the Redis docs (we use the same stemming algorithm as Redis Search):

(source: https://redis.io/docs/stack/search/reference/stemming/)

We could try to

[2022-11-12 15:42] micheleriva commented on #104
Update: we've moved the plugin as part of the core of Lyra. Would appreciate reviews here: https://github.com/LyraSearch/lyra/pull/169

[2022-11-13 10:50] micheleriva opened #175 "Alert before inserting unserializables types into a schemaless instance"
Once we get #174 merged, we will be able to insert any kind of valid JSON object in Lyra.
That also means that the following could be a valid document:

[code]

In the above example, we can clearly see how it will be impossible to serialize functions and BigInt data without applying any kind of normalization.

My proposal would be to either:

1. Spawn an alert when inserting non-serializable data

[2022-11-14 18:15] mateonunez opened #180 "Cannot read properties of undefined"
**Describe the bug**
When searching for an inserted term, Lyra throws an error on the `lyraOccurrencies` variable.

**To Reproduce**
Steps to reproduce the behavior:
1. Initialize a new project with Lyra v.0.3.0
2. Create a new Lyra instance with a simple schema
3. Insert a document following Lyra's schema created
4. Search for a term

Or just paste this code

[code]

**Screenshots**

![image](htt

[2022-11-14 19:39] LBRDan commented on #180
Hey @mateonunez
This seems to me as related to the merge of #171 + #169
Maybe I changed something that was intended to trigger 100% of the time
Frequencies are not being added correctly, maybe due to something related to the skipped tests as commented [here](https://github.com/LyraSearch/lyra/pull/174#issuecomment-1313738180) (last phrase in the comment)

Could be this the reason @micheleriva ?

[2022-11-15 07:15] mateonunez commented on #180
Going deepen the error seems to be generated by the non-string values defined in the schema.

This code works:

[code]

With the new release, we should define only searchable fields (**only strings**). This is strictly related to the semi-schemaless.

Should Lyra throw an error when a non-searchable field type is defined in the schema?

[2022-11-15 09:27] micheleriva commented on #180
That's a bummer. We have a large number of unit tests that should have caught this issue specifically. Let me check and fix this ASAP

[2022-11-15 09:33] micheleriva commented on #180
Oh got it. 100% my bad. Fixing now

[2022-11-15 09:50] stearm commented on #175
Hei @micheleriva ! I just wrote a possible solution, updating the `recursiveCheckDocSchema` function to take advantage of the calculus that's already there. I checked "bigint", "symbol", "function", "Array", "Map", "WeakMap", "Set".

This is the updated implementation:
[code]
I don't like 100% a couple of things:
- checking in the same function both the schema validity and the unserializables type

[2022-11-15 10:22] phun-ky opened #181 "Circular dependency warning in rollup"
**Describe the bug**
I'm getting a circular dependency warning when importing lyra and stemmer:

[code]

**To Reproduce**

1. Use rollup
2. Import esm stuff as described in Lyra documentation for stemmers

**Expected behavior**
No circular dependencies

Node: 16.17.1
NPM: 8.15.0
Ubuntu 22.04 LTS

[2022-11-15 15:28] mateonunez commented on #180
Awesome! Thank you so much @micheleriva!

[2022-11-15 15:48] #180 closed

[2022-11-15 16:21] pn-wiseverge opened #184 "Failed to parse source maps while running react localhost server"
**Describe the bug**
When using react 18 with Typescript some source map warnings are show when running server locally.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [Code Sandobox](https://codesandbox.io/s/lyra-example-forked-u99nq4)
2. Fork Code Sandbox
3. On Code Sandbox projects list, download the forked Sandbox as zip
4. Unzip
5. Run `yarn install`
6. Run `yarn start`

**Expecte

[2022-11-17 15:07] nebarf commented on #184
Source code should be included along with transpiled code in order to have source maps working. Currently released npm package does not ship with it.

I see two options here:
- Disabling source maps when shipping the package.
- Including source code along with transpiled code and source maps.

The only (potential) drawback in keeping to include source maps as part of the compilation step is in ter

[2022-11-17 19:38] LBRDan commented on #175
Hello there @stearm
This works quite well (besides a previous bug about nested schema checks that I'm fixing with this), I was wondering about the usage of `Object.getPrototypeOf(newDoc[key])` and the usage of `newDoc[key] instanceof X`. This could be tricky in some environments like edge workers and older browsers runtimes

What do you guys think about it?

ps. I'm including part of your snippet

[2022-11-18 09:12] micheleriva opened #187 "Create a CI process for testing Lyra on Deno"

[2022-11-18 09:13] micheleriva opened #188 "Create a CI process for testing Lyra on Bun"

[2022-11-18 09:14] micheleriva opened #189 "Create a CI process for testing Lyra on major browsers"
We need to create a CI process to test that Lyra continues working on web browsers by testing it through either Playwright or Cypress. This requires a simple web application + e2e tests in CI.

[2022-11-19 13:49] bozzelliandrea opened #190 "Technical docs/design"
Hi maintainers 👋🏻

An interesting non-software feature, might be a technical documentation, not for the lyra use (like the official doc.) but a complete and and up-to-date list of algorithms used.
i think this might help newest contributor to know exactly which data structure or algorithms Lyra uses, and might also be a "todo-list" for new feature.

What do you think about this?

[2022-11-20 00:02] jkomyno opened #192 "`search` function can result in TF-IDF score with `NaN` value"
**Describe the bug**

Consider the following code from the `search` function in [`lyra.ts`](https://github.com/LyraSearch/lyra/blob/0a910977c174c59d993618d4c67a2d61617966cd/src/lyra.ts#L651-L660):

[code]

The following facts hold:
- `termOccurrencies`'s type is inferred as `number`, but it's actually `number | string | { [k: string]: number } | undefined`
- anomalies in `termOccurrencies`' value

[2022-11-20 00:20] jkomyno commented on #192
Consider the following, taken from [lyra.ts](https://github.com/LyraSearch/lyra/blob/0a910977c174c59d993618d4c67a2d61617966cd/src/lyra.ts#L295):

[code]

What happens if we increase a non-existing counter like follows?

[code]

Two things happen:
- `tokenOccurrencies[propName]` becomes `{ 'doc-id': NaN }`
- `NaN` is returned from the postfix increment expression

If we wanted to increment a counte

[2022-11-20 08:36] xieyezi commented on #170
@micheleriva thanks reply！
Actually, Chinese is indeed challenging! I find some  open-source library like [chinese-tokenizer](https://github.com/yishn/chinese-tokenizer) and I have try it, but I find that is not sutiable Lyra custom stemmer  config.

## Other Solution
But I got  other solution(althuogh it's not perfect).  We can transform Chinese to `PinYin`(Pinyin is the Latinization of the Engli

[2022-11-20 09:11] #192 closed

[2022-11-23 12:34] sameer-coder commented on #181
I could not reproduce the bug. @phun-ky Do you have a code snippet which I can use for reproduction?

[2022-11-29 12:52] adrian-goe opened #196 "Standardised API Access To Database"
**Is your feature request related to a problem? Please describe.**
Having Stored twice is redundant and results effort to synchronising

**Describe the solution you'd like**
An standardised API to write Database Adapters as a source to search. Then all Databases could have a custom fitting Adapter.
This would enable searching on top of a database of any type. This could be Postgres, MongoDB or eve

[2022-11-29 14:50] micheleriva commented on #196
Hi @adrian-goe ,
that's actually a good proposal, thanks! Do you have any reference we can follow to understand your desired API?

[2022-11-29 15:15] adrian-goe commented on #196
I'm not so firm in creating/designing an plugin system like this. Also not, how Lyra works internally.
But I would assume something like nelify-cms do with their backends? see every `netlify-cms-backend-...` package -> https://github.com/netlify/netlify-cms/tree/master/packages

Its not documented at this moment, but basically, the provide an `Interface` and this needs to be implemented. The imple

[2022-11-30 21:27] resistdesign opened #198 "AWS S3 Persistence"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

I would like to store the data in S3.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

When used in a lambda, I would like to have changes pushed to S3 and have an instance restored from S3